extends ../../_component/layout/template

block cool-config
    -    
        var myTitle = "learn to code CSS colors for beginners";
        var myDescription = "Colors in CSS are easy to use.";
        var landingPage = "CSS";
        var activeLink = "/css/colors";

block awesome-content
    h1=myTitle
    p=myDescription
    h2 CSS Colors
    h3 Color names
    p Colors set by using color names:
    table(width="100%")
        tr
            td(bgcolor="red", width="50%")
            td red
        tr
            td(bgcolor="green", width="50%")
            td green
        tr
            td(bgcolor="blue", width="50%")
            td blue
        tr
            td(bgcolor="orange", width="50%")
            td orange
        tr
            td(bgcolor="cyan", width="50%")
            td cyan